.hero {
    justify-content: space-between;
    display: block;
    padding: 25px 10px 40px 10px;
    flex-direction: row;
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 99;
    background: linear-gradient(135deg, #339b78 0%, #1868df 100%);
    @media (min-width: 850px) {
        display: flex;
        padding: 100px 0;
    }
    .textContainer {
        max-width: calc(100% - 125px);
        flex-basis: 21%;
        padding: unset;
        margin: 0 auto;
        position: relative;
        .header2 {
            font-size: 2.5em;
            text-align: left;
            line-height: 1.3;
            font-weight: bold;
            word-break: break-word;
            margin: 0;
        }
        .paragraph {
            padding: 10px 0px;
            .p {
                    text-align: left;
                    line-height: 2em;
                    color: #fff;
                    margin: 0;
                    font-size: 1.2rem;
            }
        }
        .button {
            margin-bottom: 25px;
            @media (min-width: 850px) {
                margin-bottom: 0;
                margin-top: 15px;
            }
            .btn {
                color: #339b78;
                text-decoration: none;
                padding: 15px 30px;
                background-color: #fff;
                border-radius: 2px;
                -webkit-appearance: none;
                box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.6);
                transition: .2s linear box-shadow,.2s linear background-color;
                &:hover {
                    background-color: rgba(#fff, 0.9);
                }
                &:focus, &:active {
                    background-color: rgba(#fff, 0.7);
                }
            }
        }
    }
    .heroImage {
        flex-basis: 50%;
        box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.6);
        transform: translate(0px, 0px);
        animation-duration: 3s;
        animation-name: float;
        animation-iteration-count: infinite;
        display: flex;
        .heroImg {
            height: 100%;
            width: 100%;
            border-radius: 2px;
            margin: unset;
        }
    }
    @media (min-width: 850px) {
        display: flex;
        padding: 100px 0;
    }
}
.heroThemes, .heroPlugins, .heroO {
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 99;
    padding: 20px 0px 20px 0px;
    background: linear-gradient(135deg, #339b78 0%, #1868df 100%);
    &::before {
        content: "";
        background-image: url("../images/header-bg.svg");
        background-size: 38%;
        position: fixed;
        width: 100%;
        height: 100%;
        border-radius: unset;
        transform: unset;
        box-shadow: unset;
        top: unset;
        bottom: unset;
        left: 0;
        top: 0;
        pointer-events: none;
    }
    .container {
        max-width: calc(100% - 25px);
        margin: 0 auto;
        position: relative;
        padding: 0;
        @media (min-width: 450px) {
            max-width: calc(100% - 75px);
            padding: 0 10px;
        }
        @media (min-width: 850px) {
            max-width: calc(100% - 125px);
            padding: 0 20px;
        }
        .h2 {
            font-size: 1.3rem;
            line-height: 1.3;
            font-weight: bold;
            word-break: break-word;
            margin: 0;
            @media (min-width: 450px) {
                font-size: 3rem;
            }
            @media (min-width: 850px) {
                font-size: 3.5rem;
            }
        }
        .p {
            color: #fff;
            margin: 0;
            margin-top: 10px;
            font-size: 0.6em;
            @media (min-width: 450px) {
                font-size: 1rem;
            }
            @media (min-width: 850px) {
                font-size: 1.1rem;
            }
        }
        .input {
            width: calc(100% - 150px);
            border-radius: 25px;
            background-color: rgba(255, 255, 255, 0.3);
            border: unset;
            height: 45px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: -20px;
            text-indent: 10px;
            opacity: 0.45;
            transition: .2s linear opacity;
            color: #fff;
            @media (min-width: 850px) {
                width: calc(100% - 900px);
            }
        }
    }
}
.heroPlugins, .heroThemes {
    order: 1;
    background: transparent;
    border-bottom: 2px solid #f0f0f0;
    display: block;
    @media (min-width: 850px) {
        display: flex;
    }
    .options {
        flex: 1 1;
        display: flex;
        text-align: left;
        max-width: calc(100% - 75px);
        margin: 0 auto;
        margin-top: 10px;
        flex-direction: row;
        @media (min-width: 850px) {
            flex-direction: column;
            margin-top: unset;
            text-align: unset;
            max-width: unset;
            margin: unset;
        }
        .downloadBtn {
            background-color: #339b78;
            padding: 10px 30px;
            border-radius: 25px;
            color: #fff;
            margin-bottom: 5px;
            transition: 300ms ease-in-out;
            display: -webkit-inline-box;
            @media (min-width: 850px) {
                margin: 0 auto;
                margin-top: unset;
            }
            &:hover {
                background-color: rgba(#339b78,0.85);
            }
            &:active, &:focus {
                background-color: rgba(#339b78,0.65);
            }
        }
        .supportBtn {
            background-color: #fff;
            margin-bottom: 5px;
            margin-left: 10px;
            padding: 10px 30px;
            border-radius: 25px;
            color: #339b78;
            transition: 300ms ease-in-out;
            display: -webkit-inline-box;
            @media (min-width: 850px) {
                margin: 0 auto;
                margin-top: 10px;
            }
            &:hover {
                background-color: #ebebeb;
            }
            &:active, &:focus {
                background-color: #339b78;
                color: #fff;
            }
        }
    }
    .container {
        text-align: left;
        flex: 2;
        display: flex;
        flex-direction: column;
        .h2 {
            color: #282828;
            font-size: 1.3em;
            font-weight: normal;
        }
        .paragraph {
            .p {
                color: #999;
                font-size: 0.8em;
                a {
                    border-bottom: 1px solid rgba(51, 155, 120, 0.3);
                    box-shadow: inset 0 -2px 0px 0px rgba(51, 155, 120, 0.4);
                    color: rgba(0, 0, 0, 0.88);
                    font-weight: bold;
                    transition: .1s linear background-color, .1s linear box-shadow, .1s linear border-bottom;
                    &:hover {
                        background-color: rgba(51, 155, 120, 0.3);
                        border-bottom: 1px solid transparent;
                        box-shadow: inset 0 -2px 0px 0px transparent;
                    }
                }
            }
        }
        .detailsContainer {
            display: flex;
            .linkContainer {
                margin-top: 13px;
                margin-right: 10px;
                &:hover {
                    svg {
                        opacity: 1;
                    }
                }
                svg {
                    height: 1.5em;
                    width: 1.5em;
                    opacity: 0.6;
                    transition: 800ms ease-in-out;
                }
                &::after {
                    content: "|";
                    color: #d2d2d2;
                    position: relative;
                    top: -7px;
                    left: 5px;
                }
            }
            .tagContainer {
                margin-top: 14px;
                .tag {
                    margin-left: 7px;
                    background-color: #fff;
                    padding: 5px 13px;
                    border-radius: 25px;
                    color: #5f6368;
                    font-size: 0.7em;
                    -webkit-transition-duration: 800ms;
                    -o-transition-duration: 800ms;
                    transition-duration: 800ms;
                    border: 1px solid #eff2f6;
                    &:first-child {
                        margin-left: unset;
                    }
                    span {
                        background-color: #eeeeee;
                        border-radius: 100%;
                        color: #5f6368;
                        padding: 0px 4px;
                    }
                    &:hover {
                        border-bottom-left-radius: 0px;
                        -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
                        box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
                    }
                    &:active, &:focus {
                        background-color: rgba(#339b78, 0.1);
                        box-shadow: 0 1px 3px 1px rgba(60,64,67,0.15), 0 1px 2px 0 rgba(60,64,67,0.3);
                        outline: unset;
                        border-color: transparent;
                        border-bottom-left-radius: 0px;
                        color: #339b78;
                    }
                }
            }
        }
        .input {
            @media (min-width: 850px) {
                width: calc(100% - 500px);
            }
        }
    }
}
@keyframes float {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0px,-5px);
    }
    100% {
        transform: translate(0,0);
    }
}