.headercontainer {
    display: block;
    height: 68px;
    width: 100%;
    @media (min-width: 850px) {
        height: 111px;
    }
    .nextcontainer {
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 100;
        max-width: 100%;
        padding: 0px 0px 0px 10px;
        transition: .2s linear background-color, .2s linear box-shadow;
        background-color: #262626;
        height: 68px;
        box-shadow: 0 0 8px 0 rgba(0,0,0,1);
        @media (min-width: 850px)  {
            padding: 0px 0px 0px 15px;
            height: unset;
            background-color: #262626;
            box-shadow: unset;
        }

        .logo {
            top: 9px;
            display: flex;
            position: relative;
            justify-content: center;
            @media (min-width: 850px) {
                top: 13px;
                justify-content: flex-start;
            }
        }
        .nav {
            display: none;
            top: unset;
            z-index: 100;
            max-width: 100%;
            transition: .2s linear background-color, .2s linear box-shadow;
            background-color: #262626;
            height: 51px;
            left: 0px;
            vertical-align: top;
            width: auto;
            padding: 0;
            margin-left: -18px;
            margin-top: 9px;
            position: initial;
            bottom: unset;
            @media (min-width: 850px) {
                display: -webkit-box;
            }
            .linkWrapper {
                display: flex;
                flex: 1 1;
                align-items: center;
                flex-direction: column;
                &.active {
                    border-bottom: 0px solid transparent;
                    .linkIcon {
                        opacity: 1;
                    }
                    .link {
                        color: #fff;
                    }
                    @media (min-width: 850px) {
                        border-bottom: 2px solid #fff;
                    }
                }
                &:hover, &:active, &:focus {
                    .linkIcon {
                        opacity: 1;
                    }
                    .link {
                        color: #fff;
                    }
                }
                .linkIcon {
                    width: 22px;
                    margin: unset;
                    top: 8px;
                    position: relative;
                    fill: #fff;
                    opacity: 0.6;
                    transition: .2s linear ease-in-out;
                    & ~ .link {
                        line-height: 3em;
                        top: 6px;
                    }
                    @media (min-width: 850px) {
                        display: none;
                    }
                }
            }
            .link {
                margin: unset;
                border-bottom: 1px solid rgba(255, 255, 255, 0);
                color: rgba(255, 255, 255, 0.6);
                transition: 200ms linear color, .2s linear border-bottom;
                display: inline-block;
                text-decoration: none;
                z-index: 1;
                position: relative;
                height: 100%;
                line-height: 6em;
                flex: 1;
                text-align: center;
                font-size: 0.70711rem;
                &:nth-child(4), &:nth-child(5) {
                    display: none;
                }
                &.active {
                    color: #fff;
                    font-weight: bold;
                }
                &:hover {
                    color: #fff;
                }
                @media (min-width: 850px) {
                    display: inline-block;
                    padding: 15px 15px 15px 15px;
                    font-family: Roboto, sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    border-bottom: 2px solid transparent;
                    line-height: unset !important;
                    height: unset !important;
                    top: unset !important;
                    &.active {
                        border-bottom: 2px solid #fff;
                    }
                    &:nth-child(4), &:nth-child(5) {
                        display: inline-block;
                        line-height: unset !important;
                        top: unset !important;
                    }
                }
            }
        }
        .mobileNav {
            position: fixed;
            bottom: 0px;
            display: flex;
            width: 100%;
            top: unset;
            z-index: 100;
            max-width: 100%;
            transition: .2s linear background-color, .2s linear box-shadow;
            background-color: #262626;
            height: 51px;
            margin-left: unset;
            left: 0px;
            display: flex;
            @media (min-width: 850px) {
                vertical-align: top;
                width: auto;
                padding: 0;
                margin-left: -18px;
                margin-top: 9px;
                position: initial;
                bottom: unset;
                display: -webkit-box;
            }
            .linkWrapper {
                display: flex;
                flex: 1 1;
                align-items: center;
                flex-direction: column;
                &.active {
                    border-bottom: 0px solid transparent;
                    .linkIcon {
                        opacity: 1;
                    }
                    .link {
                        color: #fff;
                    }
                    @media (min-width: 850px) {
                        border-bottom: 2px solid #fff;
                    }
                }
                &:hover, &:active, &:focus {
                    .linkIcon {
                        opacity: 1;
                    }
                    .link {
                        color: #fff;
                    }
                }
                .linkIcon {
                    width: 22px;
                    margin: unset;
                    top: 8px;
                    position: relative;
                    fill: #fff;
                    opacity: 0.6;
                    transition: .2s linear ease-in-out;
                    & ~ .link {
                        line-height: 3em;
                        top: 6px;
                    }
                }
            }
            .link {
                margin: unset;
                border-bottom: 1px solid rgba(255, 255, 255, 0);
                color: rgba(255, 255, 255, 0.6);
                transition: 200ms linear color, .2s linear border-bottom;
                display: inline-block;
                text-decoration: none;
                z-index: 1;
                position: relative;
                height: 100%;
                line-height: 6em;
                flex: 1;
                text-align: center;
                font-size: 0.70711rem;
                &:nth-child(4), &:nth-child(5) {
                    display: none;
                }
                &.active {
                    color: #fff;
                    font-weight: bold;
                }
                &:hover {
                    color: #fff;
                }
            }
            @media (min-width: 850px) {
                display: none;
            }
        }
        .mobileNav {
            display: flex;
            @media (min-width: 850px) {
                display: none;
            }
        }
    }
}

.linkIcon {
    width: 22px;
    margin: unset;
    top: 8px;
    position: relative;
    fill: #fff;
    opacity: 0.6;
    transition: .2s linear ease-in-out;
    & ~ .link {
        line-height: 3em;
        top: 6px;
        @media (min-width: 850px) {
            border-bottom: 0px solid transparent;
        }
    }
    @media (min-width: 850px) {
        display: none;
    }
}