.contentWrapper {
    display: flex;
    flex-direction: column;
    .sectionQuote {
        padding: 30px 10px;
        background: #339b78;
        .quote {
            font-size: 1.3em;
            line-height: 1.4;
            color: #fff;
            font-family: sans-serif;
            font-weight: 200;
            width: 74%;
            padding-left: 45px;
            @media (min-width: 850px) {
                padding-left: 75px;
                width: 84%;
                font-size: 1.5em;
            }
        }
        @media (min-width: 850px) {
            padding: 80px;
            .quote {
                font-size: 2.4em;
                width: 48%;
            }
        }
    }
}