.themesContainer {
    display: block;
    flex-direction: row;
    @media (min-width: 850px) {
        display: flex;
    }
    .contentWrapper {
        order: 1;
        display: flex;
        flex-direction: column;
        @media (min-width: 850px) {
            flex: 3;
        }
        .titleBar {
            background: #fff;
            border-bottom: 1px solid #f5f3f7;
            display: flex;
            flex-direction: row;
            padding: 15px 20px;
            .count {
                flex: 1;
                font-weight: bold;
                color: #339b78;
                font-size: 1.3em;
                span {
                    font-weight: 500;
                    font-size: 0.6em;
                }
            }
            .input {
                border: unset;
                border-bottom: 2px solid rgba(#339b78, 0.3);
                transition: .2s ease-in-out border-bottom;
                &:hover {
                    border-bottom: 2px solid rgba(#339b78, 0.5); 
                }
                &:active, &:focus {
                    border-bottom: 2px solid #339b78;
                    outline: unset;
                }
            }
        }
    }
    .openContentWrapper {
        order: 1;
        display: flex;
        flex: 3;
        flex-direction: column;
        .heroThemes {
            order: 0;
        }
        & ~ .sidebarSearch {
            display: none;
        }
        @media (min-width: 850px) {
            & ~ .sidebarSearch {
                display: initial;
            }
        }
    }
    .sidebarSearch {
        background: #fff;
        border-right: 1px solid rgb(245, 243, 247);
        order: 0;
        flex: 1;
        display: none;
        @media (min-width: 850px) {
            display: block;
        }
        .searchContainer {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid rgb(245, 243, 247);
            .submitBtn {
                background: #339b78;
                border: 1px solid #27775c;
                border-radius: 2px;
                color: #fff;
                display: inline-block;
                font-size: 18px;
                line-height: 2.3em;
                height: 2.75rem;
                padding: 0;
                vertical-align: middle;
                white-space: normal;
                width: calc(100% - 7.1rem);
                text-align: center;
                margin: 0.9em auto;
            }
            .submitDescription {
                color: rgba(0, 0, 0, 0.54);
                font-size: 0.8409rem;
                margin: 0 1.05rem;
                margin-top: 0.9em;
            }
        }
        .Results { 
            display: flex;
            flex-direction: column;
            max-height: calc(((((100vh - 3.5rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem); //28.2em
            overflow-x: auto;
            .resultCard {
                width: 100%;
                padding: 1.05rem;
                border-bottom: 1px solid rgb(237, 231, 243);
                transition: .2s ease-in-out background-color, .2s ease-in-out border-left;
                border-left: 4px solid transparent;
                &:hover {
                    background-color: rgba(#339b78, 0.3);
                }
                &.active {
                    border-left: 4px solid #339b78;
                    background-color: #fff;
                    .header {
                        .title {
                            color: #339b78;
                        }
                        .author {
                            color: #339b78;
                        }
                    }
                    .description {
                        .p {
                            color: rgba(0, 0, 0, 0.92);
                        }
                    }
                }
                .header {
                    display: flex;
                    flex-basis: 100%;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-bottom: 0.525rem;
                    .title {
                        flex: 1;
                        font-weight: bold;
                        color: rgba(0, 0, 0, 0.92);
                    }
                    .author {
                        color: rgba(0, 0, 0, 0.54);
                        font-size: 0.8rem;
                    }
                }
                .description {
                    display: initial;
                    .p {
                        color: rgba(0, 0, 0, 0.54);
                        font-size: 0.75em;
                        line-height: 1.5;
                        margin-bottom: unset;
                    }
                }
            }
            &::-webkit-scrollbar-button { 
                display: none; 
                height: 13px; 
                border-radius: 0px; 
            } 
            &::-webkit-scrollbar-thumb { 
                background-color: rgba(#339b78, 0.3);
                transition: background-color .2s ease-in-out;
            } 
            &::-webkit-scrollbar-thumb:hover { 
                background-color: #339b78; 
            } 
            &::-webkit-scrollbar-track { 
                background-color: rgba(#339b78, 0.06);
            }
            &::-webkit-scrollbar { 
                width: 8px; 
            }
        }
    }
    .content {
        display: flex;
        order: 1;
        flex-direction: column;
        .wrapper {
            display: block;
            width: calc(100% - 70px);
            margin: 0 auto;
            padding-top: 2.1rem;
            padding-bottom: 2.1rem;
            word-break: break-all;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            @media (min-width: 850px) {
                display: flex;
            }
            .md {
                visibility: visible;
            }
            .cardWrapper {
                display: flex;
                flex-direction: column;
                flex-basis: 32%;
                //flex: 1 0 32%;
                .imgContainer {
                    display: initial;
                    .img {
                        background-color: #000;
                        width: 100%;
                        height: 160px;
                        margin: unset;
                    }
                }
                .title {
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.88);
                    font-size: 1.1em;
                    margin-bottom: 6px;
                }
                .description {
                    color: rgba(0, 0, 0, 0.4);
                    font-size: 0.9em;
                }
                .author {
                    color: rgba(0, 0, 0, 0.8);
                    font-size: 0.78em;
                    margin-top: 4px;
                    margin-bottom: 4px;
                }
            }
        }
    }
}