.themesContainer {
    display: block;
    flex-direction: row;
    @media (min-width: 850px) {
        display: flex;
    }
    .contentWrapper {
        order: 1;
        display: flex;
        flex-direction: column;
        @media (min-width: 850px) {
            flex: 3;
        }
        .titleBar {
            background: #fff;
            border-bottom: 1px solid #f5f3f7;
            display: flex;
            flex-direction: row;
            padding: 15px 20px;
            .count {
                flex: 1;
                font-weight: bold;
                color: #339b78;
                font-size: 1.3em;
                span {
                    font-weight: 500;
                    font-size: 0.6em;
                }
            }
            .input {
                border: unset;
                border-bottom: 2px solid #339b78;
                transition: .2s ease-in-out opacity;
                border-radius: 0px;
                opacity: 0.4;
                &:hover {
                    opacity: 0.65;
                }
                &:active, &:focus {
                    opacity: 1;
                    outline: unset;
                }
            }
        }
    }
    .openContentWrapper {
        order: 1;
        display: flex;
        flex: 3;
        flex-direction: column;
        overflow: hidden;
        .heroThemes {
            order: 0;
        }
        & ~ .sidebarSearch {
            display: none;
        }
        @media (min-width: 850px) {
            & ~ .sidebarSearch {
                display: initial;
            }
        }
    }
    .sidebarSearch {
        background: #fff;
        border-right: 1px solid rgb(245, 243, 247);
        order: 0;
        flex: 1;
        display: none;
        @media (min-width: 850px) {
            display: block;
        }
        .searchContainer {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid rgb(245, 243, 247);
            .submitBtn {
                background: #339b78;
                border: 1px solid #27775c;
                border-radius: 2px;
                color: #fff;
                display: inline-block;
                font-size: 18px;
                line-height: 2.3em;
                height: 2.75rem;
                padding: 0;
                vertical-align: middle;
                white-space: normal;
                width: calc(100% - 7.1rem);
                text-align: center;
                margin: 0.9em auto;
            }
            .submitDescription {
                color: rgba(0, 0, 0, 0.54);
                font-size: 0.8409rem;
                margin: 0 1.05rem;
                margin-top: 0.9em;
            }
            .input {
                background: #fff;
                border: 1px solid #e0d6eb;
                border-radius: 4px;
                color: #339b78;
                display: inline-block;
                font-size: 18px;
                height: 2.45rem;
                padding: 0;
                padding-right: 2.45rem;
                padding-left: 2.45rem;
                margin: 0.9em 1.05rem;
                vertical-align: middle;
                white-space: normal;
                width: calc(100% - 2.1rem);
            }
            .searchOutput {
                color: rgba(0, 0, 0, 0.54);
                font-size: 0.8409rem;
                margin: 0 1.05rem;
                margin-bottom: 0.9em;
            }
        }
        .Results { 
            display: flex;
            flex-direction: column;
            max-height: calc(((((100vh - 3.5rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem); //28.2em
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            .resultCard {
                width: 100%;
                padding: 1.05rem;
                border-bottom: 1px solid rgb(237, 231, 243);
                transition: .2s ease-in-out background-color, .2s ease-in-out border-left;
                border-left: 4px solid transparent;
                &:hover {
                    background-color: rgba(#339b78, 0.3);
                }
                &.active {
                    border-left: 4px solid #339b78;
                    background-color: #fff;
                    .header {
                        .title {
                            color: #339b78;
                        }
                        .author {
                            color: #339b78;
                        }
                    }
                    .description {
                        .p {
                            color: rgba(0, 0, 0, 0.92);
                        }
                    }
                }
                .header {
                    display: flex;
                    flex-basis: 100%;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-bottom: 0.525rem;
                    .title {
                        flex: 1;
                        font-weight: bold;
                        color: rgba(0, 0, 0, 0.92);
                    }
                    .author {
                        color: rgba(0, 0, 0, 0.54);
                        font-size: 0.8rem;
                    }
                }
                .description {
                    display: initial;
                    .p {
                        color: rgba(0, 0, 0, 0.54);
                        font-size: 0.75em;
                        line-height: 1.5;
                        margin-bottom: unset;
                    }
                }
            }
            &::-webkit-scrollbar-button { 
                display: none; 
                height: 13px; 
                border-radius: 0px; 
            } 
            &::-webkit-scrollbar-thumb { 
                background-color: rgba(#339b78, 0.3);
                transition: background-color .2s ease-in-out;
            } 
            &::-webkit-scrollbar-thumb:hover { 
                background-color: #339b78; 
            } 
            &::-webkit-scrollbar-track { 
                background-color: rgba(#339b78, 0.06);
            }
            &::-webkit-scrollbar { 
                width: 8px; 
            }
        }
    }
    .content, .mainContent {
        display: flex;
        order: 1;
        flex-direction: column;
        max-height: 26em;
        overflow: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar-button { 
            display: none; 
            height: 13px; 
            border-radius: 0px; 
        } 
        &::-webkit-scrollbar-thumb { 
            background-color: rgba(#339b78, 0.3);
            transition: background-color .2s ease-in-out;
        } 
        &::-webkit-scrollbar-thumb:hover { 
            background-color: #339b78; 
        } 
        &::-webkit-scrollbar-track { 
            background-color: rgba(#339b78, 0.06);
        }
        &::-webkit-scrollbar { 
            width: 8px; 
        }
        .wrapper, .mdWrapper {
            display: block;
            width: calc(100% - 75px);
            margin: 0 auto;
            padding-top: 2.1rem;
            padding-bottom: 2.1rem;
            word-break: break-all;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            @media (min-width: 850px) {
                display: flex;
            }
            .wrapperIcon {
                display: flex;
                position: relative;
                top: -7px;
                .icon {
                    display: block;
                    opacity: 0.6;
                    transition: .2s ease-in-out opacity;
                    &:hover {
                        opacity: 1;
                    }
                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
            .childWrapper {
                display: block;
            }
            .md {
                visibility: visible;
            }
            .mobileLink {
                pointer-events: all;
                flex-basis: 32%;
                @media (min-width: 850px) {
                    pointer-events: none;
                }
                .imgContainer {
                    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
                    box-shadow: rgba(#339b78, 0.1) 0px 4px 10px;
                }
                .title {
                    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
                }
                &:hover, &:active, &:focus {
                    .imgContainer {
                        transform: translateY(-3px);
                        box-shadow: rgba(#339b78, 0.5) 0px 8px 20px;
                    }
                    .title {
                        color: #339b78;
                        border-bottom: 2px solid rgba(#339b78, 0.4);
                        pointer-events: none;
                        @media (min-width: 850px) {
                            pointer-events: all;
                        }
                    }
                }
                &:active, &:focus {
                    .cardWrapper {
                        background-color: #eee;
                    }
                }
            }
            .cardWrapper {
                display: flex;
                flex-direction: column;
                flex-basis: 32%;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 2px;
                transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
                //flex: 1 0 32%;
                @media (min-width: 850px) {
                    padding: unset;
                    margin-bottom: unset;
                    border-radius: unset;
                }
                .imgContainer {
                    display: initial;
                    height: 160px;
                    .img {
                        background-color: #000;
                        width: 100%;
                        height: 100%;
                        margin: unset;
                    }
                }
                .title {
                    a {
                        font-weight: bold;
                        color: rgba(0, 0, 0, 0.88);
                        font-size: 1.1em;
                        margin-bottom: 6px;
                        display: -webkit-inline-box;
                        border-bottom: 1px solid transparent;
                        &:hover {
                            border-bottom: 1px solid rgba(51, 155, 120, 0.3);
                            box-shadow: inset 0 -2px 0px 0px rgba(51, 155, 120, 0.4);
                            color: #339b78;
                            font-weight: bold;
                            transition: .1s linear background-color, .1s linear color, .1s linear box-shadow, .1s linear border-bottom;
                        }
                    }
                }
                .description {
                    color: rgba(0, 0, 0, 0.4);
                    font-size: 0.9em;
                }
                .author {
                    color: rgba(0, 0, 0, 0.8);
                    font-size: 0.78em;
                    margin-top: 4px;
                    margin-bottom: 4px;
                }
            }
        }
        .mdWrapper {
            width: calc(100% - 75px);
            display: block;
            @media (min-width: 850px) {
                width: calc(100% - 300px);
                display: block;
            }
        }
    }
    .mainContent {
        max-height: 32.3em;
    }
}
.backButton {
    position: fixed;
    top: 22px;
    left: 17px;
    z-index: 100;
    display: block;
    @media (min-width: 850px) {
        display: none;
    }
    svg {
        height: 20px;
        width: 20px;
    }
}