$siteColorr: #339b78;
$siteColor-2: #1868df;

// Software Colors
$beautifuldiscord: #7289DA;
$enhanceddiscord: #cc3200;
$bandagedbd: #3d82e7;

// Breakpoints
$tablet: "(min-width: 450px)";
$above-tablet: "(min-width: 550px)";
$mid-point: "(min-width: 850px)";
$below-mid-point: "(max-width: 849px)";
$desktop: "(min-width: 768px)";
